body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/bg.png');
    background-size: cover;
}

.game-window {
    width: 80vh;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 5vh;
} 

.position {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: solid 3px #ffffff;
}

[player1] {
    background-color: rebeccapurple;
}

[player2] {
    background-color: seagreen;
}

button {
    padding: 0.8vh;
    margin-top: 4vh;
}

#id1, #id2, #id3{
    border-top: none;  
}

#id1, #id4, #id7 {
    border-left: none;
}

#id3, #id6, #id9 {
    border-right: none;
}

#id7, #id8, #id9 {
    border-bottom: none;
}